
 .nvalid-tooltip {
    margin-top: 0.2rem;
}
  .test {
    display: block;
}
.test {
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(245, 82, 82, 0.9);
    border-radius: 0.35rem;
}