@import "assets/sass/core/variables/gradient-variables.scss";
@import "../../../assets/sass/libs/datatables.scss";

.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection)
  .datatable-body-row:hover
  .datatable-row-group {
  background: #f7f7f8;
}
:host ::ng-deep .ct-grid {
  stroke-dasharray: 0;
  stroke: rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .ct-label {
  font-size: 0.9rem;
}

:host ::ng-deep .WidgetlineChart .ct-point {
  stroke-width: 0;
}

:host ::ng-deep .WidgetlineChart .ct-line {
  stroke: rgba(255, 255, 255, 0.6);
  stroke-width: 4px;
}

:host ::ng-deep .WidgetlineChart .ct-grid {
  stroke-dasharray: 0;
  stroke: transparent !important;
}

:host ::ng-deep .WidgetlineChart .ct-point-regular {
  stroke-width: 2px;
  fill: transparent;
  stroke: transparent !important;
}

:host ::ng-deep .WidgetlineChartshadow {
  -webkit-filter: drop-shadow(0px 13px 6px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 13px 6px rgba(0, 0, 0, 0.5));
  /* Same syntax as box-shadow, except for the spread property */
}

:host ::ng-deep .lineArea .ct-line {
  stroke-width: 0;
}

:host ::ng-deep .lineArea .ct-point {
  stroke-width: 0;
}

:host ::ng-deep .lineArea .ct-point-regular {
  stroke-width: 2px;
  fill: transparent;
  stroke: transparent !important;
}
:host ::ng-deep .Stackbarchart .ct-series-b .ct-bar {
  stroke: #eeeeee;
}

:host ::ng-deep .shopping-cart i.ft-trash-2 {
  cursor: pointer;
}
:host ::ng-deep .shopping-cart i.ft-trash-2:hover {
  color: #f55252;
}

:host ::ng-deep .shopping-cart table td {
  vertical-align: middle;
}

:host ::ng-deep .lineArea2 .ct-line {
  fill: none;
  stroke-width: 2px;
}

:host ::ng-deep .lineArea2 .ct-point-circle {
  stroke-width: 2px;
  fill: #ffffff;
}

:host ::ng-deep .lineArea2 .ct-series-a .ct-line {
  stroke: #60aff0;
}

:host ::ng-deep .lineArea2 .ct-series-a .ct-point-circle {
  stroke: #2f8be6;
}

:host ::ng-deep .lineArea2 .ct-series-b .ct-line {
  stroke: #6cd975;
}

:host ::ng-deep .lineArea2 .ct-series-b .ct-point-circle {
  stroke: #40c057;
}

:host ::ng-deep .lineChart .ct-line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
}

:host ::ng-deep .lineChart .ct-label {
  color: #ffffff;
}

:host ::ng-deep .lineChart .ct-point-circle {
  stroke-width: 2px;
  fill: #ffffff;
}

:host ::ng-deep .lineChart .ct-series-a .ct-point-circle,
.lineChart .ct-series-a .ct-point {
  stroke: #ffffff;
}

:host ::ng-deep .lineChartShadow {
  -webkit-filter: drop-shadow(0px 25px 8px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 25px 8px rgba(0, 0, 0, 0.5));
  /* Same syntax as box-shadow, except for the spread property */
}
:host ::ng-deep .BarChartShadow {
  -webkit-filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
  /* Same syntax as box-shadow, except for the spread property */
}

:host ::ng-deep .donut .ct-label {
  font-size: 20px;
}

:host ::ng-deep .donut .ct-done .ct-slice-donut {
  stroke: #40c057;
  stroke-width: 24px !important;
}

:host ::ng-deep .donut .ct-progress .ct-slice-donut {
  stroke: #f77e17;
  stroke-width: 16px !important;
}

:host ::ng-deep .donut .ct-outstanding .ct-slice-donut {
  stroke: #975aff;
  stroke-width: 8px !important;
}

:host ::ng-deep .donut .ct-started .ct-slice-donut {
  stroke: #2f8be6;
  stroke-width: 32px !important;
}
