<div class="container">
    <div class="card">

        <div class="top">
            <h1><i>Eclatansys</i></h1>
        </div>
        <div class="mid">
            <h2>Card Number</h2>
            <div class="card-number">
                <span>4929</span>
                <span>1245</span>
                <span>7854</span>
                <span>0050</span>
            </div>
        </div>
        <div class="bottom">
            <div class="card-holder">
                <h2>Card Holder</h2>
                <span>Ram kumar rayala</span>
            </div>   
            <div class="express">
                <h2>Expire Date</h2>
                <span>04</span> /
                <span>18</span>
            </div>     
        </div>


    </div>

</div>