*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 100;    
    color: white;
}

.card{
    width: 450px;
    height: 250px;
    position: relative;
    background: linear-gradient(to top right, rgb(3, 209, 96), rgb(70, 137, 66));
    box-shadow: 1px 20px 50px rgb(159, 143, 143);
    border-radius: 5px;
    padding: 1em;
    z-index: 2;
}
.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 28px;
    text-transform: uppercase;
}
h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .mid .card-number span{
    border: 1px  ;
    padding: 3px 5px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 2px;
}
.card-number span + span{
    margin: 8px 15px;
}

.card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card .bottom span{
    display: inline-block;
    border: 1px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase;
}
.card .bottom .card-holder span{
    width: 150px;
    height: 22px;
}
.bottom span + span{
    margin-left: 5px;
}
