.rightServices.dash-shortcut .keys {
  border: 1px solid #666;
  padding: 1px 0;
}
.rb {
  font-family: RobotoFont-bold, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.bg-grey {
  background-color: #dcbdff;
}
.text-dark {
  color: #343a40 !important;
}
.text-center {
  text-align: center !important;
}
.rb {
  font-family: RobotoFont-bold, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.text-primary {
  color: #007bff !important;
}
.text-center {
  text-align: center !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.d-block {
  display: block !important;
}
.bg-white {
  background-color: #fff !important;
}
