<div class="modal-header" *ngIf="isModal">
  <h4 class="modal-title">Add HSNSAC</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    x
  </button>
</div>
<div class="col-lg-12 col-12">
  <div class="card">
    <ngx-spinner></ngx-spinner>
    <div class="card-header">
      <h4 class="card-title" *ngIf="!CustomeId">Add Hsnsac</h4>
      <h4 class="card-title" *ngIf="CustomeId">Edit Hsnsac</h4>
    </div>
    <div class="card-content" id="cardfrom">
      <div class="card-body">
        <form
          #userForm="ngForm"
          (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
        >
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="hidden-label-form-1"> HSN Code</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control"
                  name="cname"
                  [(ngModel)]="model.hsnName"
                  #cname="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && cname.invalid,
                    'is-valid': userForm.submitted && !cname.invalid
                  }"
                  required
                />
                <div
                  *ngIf="
                    userForm.submitted &&
                    (cname.invalid || cname.errors?.required)
                  "
                  class="invalid-tooltip"
                >
                  Please provide a valids Name.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="hidden-label-form-1"> Description</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control"
                  name="descirption"
                  [(ngModel)]="model.descirption"
                  #descirption="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && descirption.invalid
                  }"
                />
              </div>
            </div>
          </div>
          <button type="submit" *ngIf="!CustomeId" class="btn btn-primary mr-2">
            <i class="ft-check-square mr-1"></i>
            Save
          </button>
          <button
            type="button"
            *ngIf="CustomeId"
            class="btn btn-primary mr-2"
            (click)="onUpdate(userForm)"
          >
            <i class="ft-check-square mr-1"></i>
            Update
          </button>
          <button type="button" class="btn btn-secondary" (click)="goBack()">
            <i class="ft-x mr-1"></i>Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
