.datatable-header-cell-label {
    font-size: 13px;
    font-weight: 500;
  }
  .core-bootstrap .form-control {
    border: 0;
  }
  
  .core-bootstrap .form-control:focus {
    border-bottom: 1px solid #975aff;
    border-radius: 0;
  }
  ::ng-deep .ngx-datatable .datatable-body-cell,
  .ngx-datatable .datatable-header-cell {
    font-size: 10px !important;
  }
  .ng-select .ng-select-container {
    border: none !important;
}
.ng-select .ng-clear-wrapper {
    display: none;
}