<ngx-spinner></ngx-spinner>
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12"></div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Purchase Entry
            <button
              type="button"
              (click)="exportPdf()"
              class="btn btn-primary mr-2"
            >
              <i class="icon-docs mr-1"></i>
              Export Pdf
            </button>
            <button
              type="button"
              (click)="exportExcel()"
              class="btn btn-primary mr-2"
            >
              <i class="icon-docs mr-1"></i>
              Export Excel
            </button>
            <button
              type="button"
              routerLink="/purchase-entry/purchase-entry-details"
              style="float: right"
              class="btn btn-primary mr-2"
            >
              <i class="icon-plus mr-1"></i>
              Add Entry
            </button>
          </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label
                >Show
                <select
                  name="users-list-select"
                  class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                  (click)="updateLimit($event)"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
              <label for="ngx-filter-ref" class="float-right"
                >Search:
                <input
                  id="ngx-filter-ref"
                  class="form-control form-control-sm d-inline-block width-200 ml-1"
                  type="text"
                  (keyup)="filterUpdate($event)"
                />
              </label>
            </fieldset>
            <ngx-datatable
              tableClass="table table-striped table-bordered table-hover"
              #tableRowDetails
              class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force"
              [footerHeight]="50"
              rowHeight="auto"
              [limit]="10"
              [rows]="rows"
              [columns]="columns"
            >
              <ngx-datatable-column name="ID" prop="id"> </ngx-datatable-column>
              <ngx-datatable-column name="No Iteams" prop="noItems">
              </ngx-datatable-column>
              <ngx-datatable-column name="Invoice No" prop="invoiceNo">
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Discount%"
                prop="discount"
              ></ngx-datatable-column>
              <ngx-datatable-column name="Discount Amount" prop="discAmount">
              </ngx-datatable-column>
              <ngx-datatable-column name="Gross Amounts" prop="grossAmounts">
              </ngx-datatable-column>
              <ngx-datatable-column name="Net Amount" prop="netAmount">
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a
                    [routerLink]="[
                      '/purchase-entry/purchase-entry-details/',
                      row.id
                    ]"
                    class="mr-1"
                    ><i class="ft-edit text-primary cursor-pointer"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
