<section id="tooltip-validation">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form class="needs-validation" #entryForm="ngForm">
              <div class="form-row">
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip01">Payment Date</label>
                  <input
                  id ="paymentDate"
                    type="date"
                    name="edate"
                    class="form-control"
                    id="validationTooltip01"
                    [(ngModel)]="model.paymentDate"
                    #edate="ngModel"
                    (keyup) = "removeAll(model.paymentDate,$event)"
                    [ngClass]="{
                      'is-invalid': entryForm.submitted && edate.invalid,
                      'is-valid': entryForm.submitted && !edate.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="entryForm.submitted && !edate.errors?.required"
                    class="valid-tooltip"
                  >
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip02">Payment Mode</label>
                  <select
                    id="basic-form-6"
                    name="amont"
                    class="form-control"
                    [(ngModel)]="model.amount"
                    #amont="ngModel"
                    [ngClass]="{
                      'is-invalid': entryForm.submitted && amont.invalid,
                      'is-valid': entryForm.submitted && !amont.invalid
                    }"
                    required
                  >
                    <option value="none" selected disabled>Amount Mode</option>
                    <option value="1">Cash</option>
                    <option value="2">Card</option>
                  </select>
                  <div
                    *ngIf="entryForm.submitted && !amont.errors?.required"
                    class="valid-tooltip"
                  >
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip03">Referance Number</label>
                  <input
                    type="number"
                    name="city"
                    class="form-control"
                    [(ngModel)]="model.refernceNumber"
                    #city="ngModel"
                    [ngClass]="{
                      'is-invalid': entryForm.submitted && city.invalid,
                      'is-valid': entryForm.submitted && !city.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      entryForm.submitted &&
                      (city.invalid || city.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid refNumber.
                  </div>
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip03">Reference Date</label>
                  <input
                    type="date"
                    name="ref"
                    class="form-control"
                    [(ngModel)]="model.refernceDate"
                    #ref="ngModel"
                    [ngClass]="{
                      'is-invalid': entryForm.submitted && ref.invalid,
                      'is-valid': entryForm.submitted && !ref.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      entryForm.submitted &&
                      (ref.invalid || ref.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid Refeence Date.
                  </div>
                </div>
              </div>
              <button class="btn btn-primary mr-2" type="submit">
                Import from CSV
              </button>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label for="ngx-filter-ref"
                >Search:
                <input
                  id="ngx-filter-ref"
                  class="form-control form-control-sm d-inline-block width-200"
                  type="text"
                  placeholder="Filter the Name column..."
                />
              </label>
            </fieldset>
            <ngx-datatable
              class="bootstrap core-bootstrap"
              style="height: 400px"
              [columns]="columns2"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [rowHeight]="50"
              [rows]="Items"
              [externalPaging]="false"
              [scrollbarH]="true"
              [scrollbarV]="true"
            >
              <ngx-datatable-column
                name="Account Name"
                prop="creditType"
                [width]="60"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <select
                    id="basic-form-6"
                    [(ngModel)]="item.creditType"
                    name="creditType{{ rowIndex }}"
                    required
                    class="form-control"
                    placeholder="credit select"
                  >
                    <option value="none" selected disabled>Credit Type</option>
                    <option value="customer">customer</option>
                    <option value="supplier">supplier</option>
                  </select>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Amount"
                prop="amount"
                [width]="40"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.entryAmount"
                    name="entryAmount{{ rowIndex }}"
                    placeholder="Amount"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Discount"
                prop="discount"
                [width]="40"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.entryDicount"
                    name="entrydiscount{{ rowIndex }}"
                    placeholder="Discount"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Net Amount"
                prop="netAmount"
                [width]="40"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.netAmount"
                    name="netAmount{{ rowIndex }}"
                    (keydown.Tab)="addItem()"
                    placeholder="NetAmount"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <a
                    *ngIf="rowIndex != Items.length - 1 || Items.length > 1"
                    (click)="removeItem(rowIndex)"
                    ><i class="ft-trash text-danger cursor-pointer"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="addItem()"
            >
              Add Item
            </button>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="basic-form-layouts">
  <div class="row match-height">
    <div class="col-lg-12 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label for="form-1">Remarks</label>
                  <input
                    type="text"
                    id="form-1"
                    class="form-control"
                    name="cname"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="form-2">Net Amount</label>
                  <input
                    type="text"
                    id="form-2"
                    class="form-control"
                    name="ename"
                  />
                </div>
              </div>
              <button
                *ngIf="!paymentId"
                type="button"
                class="btn btn-primary mr-2"
                [disabled]="!entryForm.valid"
                (click)="onSubmit()"
              >
                <i class="ft-check-square mr-1"></i>Save
              </button>
              <button
                *ngIf="paymentId"
                type="button"
                class="btn btn-primary mr-2"
                (click)="onUpdate()"
              >
                <i class="ft-check-square mr-1"></i>Update
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="goBack()"
              >
                <i class="ft-x mr-1"></i>Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Hidden Label ends -->
  </div>
</section>
